<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form class="" action="/enter" method="post">
      <button type="submit" name="btn" value="login">Log in</button>
      <button type="submit" name="btn" value="signup">Sign up</button>
    </form>
    <script type="text/javascript">

    </script>
  </body>
</html>
